* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #153677, #4e085f);
  padding: 10px;
}

.todo-app {
  width: 100%;
  max-width: 540px;
  background-color: #fff4;
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 10px;
}

.todo-app h2 {
  color: #002765;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.todo-app h2 img {
  width: 30px;
  margin-left: 10px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #edeef0;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;
}

input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
  font-weight: 14px;
}

button {
  /* width: 40px;
    height: 40px; */
  background-color: brown;
  color: #fff;
  padding: 13px 40px;
  font-weight: 14px;
  border: none;
  outline: none;
  border-radius: 30px;
  cursor: pointer;
}
button:hover {
  background: rgb(216, 36, 36);
}

ul li {
  list-style: none;
  font-size: 17px;
  padding: 10px 5px 13px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
  color: #edeef0;
}

ul li::before {
  content: "";
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 3px;
  background-image: url(/assets/img/square.png);

  background-size: cover;
  background-position: center;
  background-size: cover;
  background-position: center;
  top: 5px;
  left: 8px;
}

ul li.checked {
  color: #b9b8b8;
  text-decoration: line-through;
}

ul li.checked::before {
  background-image: url(/assets/img/checked.png);
  width: 36px;
  height: 28px;
}

ul li span {
  position: absolute;
  width: 28px;
  height: 28px;
  right: 0;
  top: 5px;
  font-size: 22px;
  color: brown;
  text-align: center;
  border-radius: 50%;
}

ul li span:hover {
  background: #fff4;
}
